@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}


:root { 
    /* Colors */

    --strong-cyan : hsl(172, 67%, 45%) ; 

    --very-dark-cyan: hsl(183, 100%, 15%) ; 
    --dark-grayish-cyan: hsl(186, 14%, 43%); 
    --grayish-cyan : hsl(184, 14%, 56%); 
    --light-grayish-cyan: hsl(185, 41%, 84%) ;
    --very-light-grayish-cyan:  hsl(189, 41%, 97%); 

    /* Typography  */

    --fz-form:24px; 

    --ff-space-mono :"Space Mono" , sans-serif ; 

    --fw-bold : 700 ; 
    
    /* Borders  */

    --radii : 1rem ; 
    --radii-small : 0.5rem ; 

}

body{ 
    margin: 0;

    font-family: var(--ff-space-mono);
    font-size: 16px;
    
    background-color: var(--light-grayish-cyan);
}


.splitter__box{ 
    min-height: 100vh;
    max-width: 990px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap:1rem ; 
}

.splitter__header{ 
    color : var(--dark-grayish-cyan); 
    text-transform: uppercase;
    letter-spacing: 4px;   
    margin: 0;
}
.splitter__header p { 
    margin: 0;
}

.splitter__cont{ 
    max-width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    gap: 1rem;

    padding: 2rem;

    background:white;

    border-radius: 1rem 1rem 0 0;
}
.splitter_section-input{ 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.splitter__bill , .splitter__people{ 

    display: flex;
    flex-direction: column;

    width: 100%;    

}

.splitter__section-name { 
    margin: 0;
    
    font-size: 15px;
    color: var(--dark-grayish-cyan) ; 
    display: flex;
    
    justify-content: space-between;
}

.error__message { 
    color : red ; 
    
}
.error__message--hidden { 
    display: none;
}
.splitter__input--dollar{ 
    background: url('./images/icon-dollar.svg'); 
    
}

.splitter__input--person{ 
    background: url('./images/icon-person.svg'); 
    
}

.splitter__input--custom { 
    width: 40%;
}

.splitter__input--custom::placeholder { 
    color : var(--very-dark-cyan) ; 
    opacity: 0.4;
    outline: none;
    text-align: center;
}

.splitter__input { 
    
    padding: 5px;

    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: var(--radii-small);

    
    background-position: left 5% top 50%;
    background-repeat: no-repeat;
    background-color:var(--very-light-grayish-cyan);

    
    
    text-align: right;
    color:var(--very-dark-cyan) ;
    font-size: var(--fz-form); 
    font-weight: var(--fw-bold);
    font-family: var(--ff-space-mono);


    cursor: pointer;
}



.splitter__input:focus{ 
    outline: none;

    border: 1px solid var(--strong-cyan);
    border-radius: var(--radii-small);
}
.splitter__input--custom:focus{ 
    outline: none;
   
    border: 1px solid var(--strong-cyan);
    border-radius: var(--radii-small);
}

.splitter__input--error{ 
    outline: none;
    border-color: red;
}

.tip__section-percents{
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;

    padding: 1rem;

    gap: 1.5rem;
}
.btn__tip{ 
    width:  40%;

    background-color: var(--very-dark-cyan);
    border:none;
    border-radius: var(--radii-small);

    padding: 5px;

    color:white; 
    font-size: var(--fz-form);
    font-weight: var(--fw-bold);
    font-family: var(--ff-space-mono);

    cursor: pointer;
}

.btn__tip--active { 
    
    background-color: var(--strong-cyan);
    
    color:var(--very-dark-cyan)

}

.splitter__results{ 

    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;

    padding: 1rem;

    border-radius: var(--radii);

    background-color: var(--very-dark-cyan);


}
.results__section{ 
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1rem;


}
.results__box{ 
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    
    font-family: var(--ff-space-mono);

}

.results__section-title{ 
    color:white ;
    font-weight: var(--fw-bold); 
}
.results__title{ 
    margin: 10px 0 0 0;

}
.results__subtitle{ 
    font-size: 12px;
    color : var(--grayish-cyan)
}

.results__money{ 
    
    font-size: 30px;
    font-weight: var(--fw-bold);
    
    color : var(--strong-cyan)
    
}

.btn__reset{ 
    width: 100%;

    padding: 10px;

    border-radius: var(--radii-small);
    border:none; 

    background-color: var(--strong-cyan);

    text-align: center;
    text-transform: uppercase;
    color: var(--very-dark-cyan) ; 

    font-family: var(--ff-space-mono);
    font-weight: var(--fw-bold);
    font-size: 20px;

    cursor: pointer;
}

@media (min-width : 1024px) {
    .splitter__box{ 
        max-width: none; 
        
        justify-content: center;

        padding: 1rem;
    }

    .splitter__cont { 
        border-radius: var(--radii);

        flex-direction: row;
        gap: 2rem;
    }
    .splitter__results{ 
        padding: 2rem;
    }
}